@model string;
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div style="position: fixed; right: 25px; bottom: 40px;">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-outline-secondary btn-lg" style="background-color: mediumvioletred; color: white;">
            <i class="bi bi-plus-circle"></i> Add New
        </a>
    </div>
}