@model string;

<div style="position: fixed; right: 25px; bottom: 40px;">
    <a asp-controller="@Model" asp-action="Create" class="btn btn-success btn-lg">
        <i class="bi bi-plus-circle"></i> Add New
    </a>
</div>
