@model Cinema
@{
    ViewData["Title"] = "Delete cinema";
}

<style>
    body {
        background-color: #F2F2F2;
        color: grey;
        font-family: 'Century Schoolbook', sans-serif;
    }

    .form-group label.control-label {
        color: grey;
    }

    .text-danger {
        color: MediumVioletRed;
    }

    .btn-outline-danger {
        background-color: MediumVioletRed;
        color: white;
    }

    .btn-outline-secondary {
        background-color: grey;
        color: white;
    }

        .btn-outline-danger:hover,
        .btn-outline-secondary:hover {
            background-color: MediumVioletRed;
            color: white;
        }
</style>

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1 style="color: mediumvioletred;">Delete confirmation for @Model.Name's details</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group text-center">
                    <img id="LogoPreview" style="width: 200px; height: 200px; border-radius: 50%;" />
                </div>

                <div class="form-group">
                    <label asp-for="Logo" class="control-label"></label>
                    <input asp-for="Logo" class="form-control" readonly />
                    <span asp-validation-for="Logo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" readonly />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirm" class="btn btn-outline-danger float-right" />
                    </form>

                    <a class="btn btn-outline-secondary" asp-action="Index">See all</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById("LogoPreview");
            output.src = $("#Logo").val();
        });
    </script>
}